.canvas-container {
  flex: 1;
  background-color: #0f0f0f;
  border: 1px solid #1c1c1c;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  cursor: crosshair;
}
